body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	width: 1440px;
	margin: 0 auto;
}

div, p, span, a, ul, li{
	box-sizing: border-box;
}

h1{
	margin: 0;
	font-size: 90px;
	font-weight: bold;
}

h2{
	font-size: 70px;
	margin-bottom: 80px;
	margin-top: 19px;
}

h3{
	font-size: 65px;
	margin-bottom: 19px;
	margin-top: 19px;
}

p{
	font-size: 30px;
	margin-bottom: 80px;
	line-height: 43px;
}

span{
	color: red;
}

header{
	display: grid;
	align-items: end;
	grid-template-columns: 40% 60%;
}

.main{
	margin-top: 140px;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
}

.image{
	width: 780px;
	height: 687px;
	display: block;
}

.painter{
	width: 650px;
	height: 860px;
}
.menu ul {
  list-style: none; 
  margin-top: 20px;
}
.menu a {
	color: #000;
	font-size: 41px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: .5s linear;
}

.menu a:hover{
border-radius: 10px;
  border-bottom: 10px solid rgba(100, 252, 217, 1);
  text-transform: capitalize;
  font-weight: bold;
}

.menu li {
	display: inline;
  margin-right: 50px;
}

.about{
	margin-top: 80px;
	display: grid;
	grid-template-columns: 40% 60%;
	align-items: end;
}
 
 .choose{
 	margin-top: 110px;
 	text-align: center;
 }

.carts{
	margin-top: 90px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-gap: 39px; /* Отступы между ячейками */
}

h5{
	font-size: 70px;
	display: inline;
	border-radius: 10px;
  border-bottom: 15px solid rgba(100, 252, 217, 1);
}

.item{
	width: 400px;
	height: 633px;
	border: 4px solid rgba(0, 22, 10, 1);
	border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.img{
     margin-top: 49px;
	height: 320px;
	width: 320px;
	display: inline-block;
}

.btn{
  display: block;
  position: relative;
}

.bttn{
	margin-top: 50px;
}

.btn-form1{
	background: rgba(0, 22, 10, 1);
	color: #fff;
	border-radius: 23px;
	display: inline-block;
	position: relative;
left: 0;
	width: 250px;
	border: 0;
	height: 100px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none ;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 43px;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn-form2{
	background: rgba(0, 22, 10, 1);
	color: #fff;
	border-radius: 23px;
	display: inline;
	position: absolute;
right: 0;
	width: 250px;
	border: 0;
	height: 100px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none ;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 43px;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-form3{
	background: rgba(0, 22, 10, 1);
	color: #fff;
	border-radius: 23px;
	display: inline-block;
	position: relative;
left: 0;
	width: 260px;
	border: 0;
	height: 100px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none ;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 43px;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-form4{
	background: rgba(0, 22, 10, 1);
	color: #fff;
	border-radius: 23px;
	display: inline-block;
	position: relative;
	width: 190px;
	border: 0;
	height: 70px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none ;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 30px;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-form5{
	margin-bottom: 80px;
	background: rgba(0, 22, 10, 1);
	color: #fff;
	border-radius: 23px;
	display: inline-block;
	position: relative;
	width: 260px;
	border: 0;
	height: 100px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 43px;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

footer{
	width: 100%;
	background-color: #171717;
	height: 560px;
	display: block;
	position: absolute;
	left: 0;
	margin: 0%;
	padding: 0%;
}

.conteiner{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	align-items: start;
}

h4{
	font-size: 65px;
	color: #fff;
}

.items ul{
	margin: 0;
	padding: 0;
	margin-top: 50px;
	list-style: none; 
}

.items li{
	line-height: 35px;
}

.items a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}

.items{
	margin-left: 105px;
}

.cont{
	margin-top: 21px;
	display: grid;
	grid-template-columns: 70% 30%;
	align-items: center;
}

.itm{
	left: 0%;
	margin-left: 105px;
}

.icon{
	display: inline;
	width: 49px;
	height: 49px;
	margin-right: 20px;
	}

h6{
	font-size: 25px;
	color: #fff;
}

@media (max-width: 768px){
	body{
		width: 768px;
		margin: 20px;
	}

	h1{
		font-size: 48px;
	}

	h2{
		font-size: 35px;
		margin-bottom: 10px;
	}

	header{
	grid-template-columns: 30% 70%;
    }

    .about{
	margin-top: 53px;
	grid-template-columns: 50% 50%;
	align-items: start;
  }

    .main{
	margin-top: 80px;
	grid-template-columns: 50% 50%;
    }


	.image{
		width: 347px;
		height: 306px;
	}

	.painter{
		width: 334px;
		height: 441px;
	}

	.menu a{
		font-size: 20px;
	}

	.menu li{
		margin-right: 40px;
	}

	p{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 40px;
	}

	.btn-form1{
     width: 160px;
     height: 55px;
     font-size: 25px;
	}

	.btn-form2{
		width: 160px;
     height: 55px;
     font-size: 25px;
	}

	.btn-form3{
		width: 180px;
     height: 55px;
     font-size: 25px;
	}

	h5{
		font-size: 35px;
	}

	.item{
		width: 221px;
		height: 350px;
	}

	.img{
		width: 198px;
		height: 208px;
		margin-top: 25px;
	}

	h3{
		font-size: 32px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.btn-form4{
		width: 124px;
     height: 43px;
     font-size: 20px;
	}

	.btn-form5{
		width: 172px;
     height: 55px;
     font-size: 25px;
	}

	footer{
		height: 300px;
	}

	h4{
		font-size: 25px;
	}

	.items{
	margin-left: 10px;
}

.items ul{
	margin-top: 20px;
}

.items li{
	line-height: 20px;
}

.items a{
	font-size: 20px;
}

.cont{
	margin-top: 15px;
}

.itm{
	left: 0%;
	margin-left: 10px;
}

.icon{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	}

 h6{
 	font-size: 14px;
 }
}